
@{
    ViewData["Title"] = "Index";
}
<h2>Troco</h2>

<form id="ValidarTroco" action="/Troco/VerificarTroco">
    Divida:<br /> 
    <input type="text" value="" name="valorDivida">
    <br />
    Entregue: <br /> 
    <input type="text" value="" name="valorEntregue">
    <br/>
    
    <p><button type="submit" form="ValidarTroco" value="Enviat">Enviar</button></p>

</form>
